mixin checkbox({input= 'checkbox',contentHead= 'Можно с питомцами', mode= ''})
    .checkbox
        input.checkbox__input(type="checkbox" id=input)
        label(class='checkbox__label'+mode for=input)
        .checkbox__div-content
            span(class='checkbox__span-head')=contentHead
