mixin checkbox({contentHead= "Можно с питомцами", mode= ""})
    label(class="checkbox")
        input.checkbox__input(type="checkbox")
        div(class="checkbox__label"+mode)
        .checkbox__content
            span(class="checkbox__head")=contentHead