.checkbox {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(115, 177, 192);
    cursor: pointer;

    &:hover {
        color: rgb(7, 127, 226);
    }

    &:hover .checkbox__label_move::after {
        left: 23px;
        background: rgb(7, 127, 226);
    }

    &:hover .checkbox__label_move {
        border: 1px solid rgb(7, 127, 226);
    }

    &:hover .checkbox__label {
        border-color: rgb(7, 127, 226);
    }

    &:hover .checkbox__label::after {
        content: '';
    }

    &__input {
        display: none;
    }

    &__content {
        display: inline-block;
        margin-left: 10px;

        font-family: Montserrat, OpenSans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        .checkbox__input:checked ~ & {
            color: rgb(7, 127, 226);
        }
    }

    &__label_move {
        position: relative;
        display: inline-block;
        height: 18px;
        width: 38px;
        min-height: 18px;
        min-width: 38px;
        border-radius: 10px;
        border: 1px solid rgb(115, 177, 192);
        color: rgb(115, 177, 192);

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 4px;
            top: 3px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: rgb(115, 177, 192);
            transition: 0.2s;
        }

        .checkbox__input:checked + &::after {
            left: 23px;
            background: rgb(7, 127, 226);
        }
        .checkbox__input:checked + & {
            border: 1px solid rgb(7, 127, 226);
        }
    }

    &__label {
        position: relative;
        display: inline-block;
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        border-radius: 4px;
        border: 1px solid rgb(115, 177, 192);
        cursor: pointer;

        &::after {
            content: none;
            display: inline-block;
            position: absolute;
            left: 5px;
            top: 5px;
            height: 4px;
            width: 6px;
            border-left: 2px solid rgb(7, 127, 226);
            border-bottom: 2px solid rgb(7, 127, 226);
            transform: rotate(-45deg);
        }

        .checkbox__input:checked + &::after {
            content: '';
        }

        .checkbox__input:checked + & {
            border-color: rgb(7, 127, 226);
        }
    }
}
