.slider-view
{
    &-horizontal
    {
        width: 150px;
        position: absolute;
        text-align: center;
        top: 20px;
        color: rgb(98, 117, 161);
    }

    &-vertical
    {
        width: 30px;
        height: 18px;
        line-height: 18px;
        position: absolute;
        text-align: center;
        left: 20px;
        color: rgb(98, 117, 161);
    }

    &-vertical-offset
    {
        left: -50px;
    }

    &-horizontal-offset
    {
        top: -23px;
    }



    &-scale-value
    {
        position: absolute;
        top: 70px;
        width: 100%;
    }

    &-scale-value-vertical
    {
        position: absolute;
        left: 100px;
        height: 100%;
    }

    &-scale-values
    {
        width: 150px;
        position: absolute;
        text-align: center;
        color: rgb(98, 117, 161);
    }

    &-scale-central-value
    {
        position: relative;
        margin: auto;
        right: auto;
    }

    &-scale-min-value
    {
        left: -75px;
    }

    &-scale-max-value
    {
        right: -75px;
        top: 0;
    }

    &-scale-min-value-vertical
    {
        bottom: -10px;
    }

    &-scale-max-value-vertical
    {
        top: -10px;
    }

}