.slider-view
{
    &-horizontal
    {
        // display: inline-block;
        width: 150px;
        position: absolute;
        text-align: center;
        top: 20px;
        color: rgb(98, 117, 161);
    }

    &-vertical
    {
        // display: inline-block;
        width: 30px;
        height: 18px;
        line-height: 18px;
        position: absolute;
        text-align: center;
        left: 20px;
        color: rgb(98, 117, 161);
    }
}