.checkbox__label 
{
    position: relative;
    color: rgb(98, 117, 161);
    line-height: 0px;

    &::before
    {
        content: "";
        display: inline-block;
        position: relative;
        height: 18px;
        width: 18px;
        min-height: 18px;
        min-width: 18px;
        border-radius: 4px;
        border: 1px solid rgb(7, 127, 226);
    }

    &::after 
    {
        content: none;
        display: inline-block;
        position: absolute;
        left: 6px;
        top: 6px;
        height: 4px;
        width: 6px;
        border-left: 2px solid rgb(7, 127, 226);
        border-bottom: 2px solid rgb(7, 127, 226);
        transform: rotate(-45deg);
    }

    .checkbox__input:checked + &::after
    {
        content: "";
    }

    .checkbox__input:checked + &::before
    {
        border-color: rgb(7, 127, 226);
    }
}